openapi: 3.2.0
info:
  title: allagents Directory API
  version: 0.1.0
  summary: The allagents agent-directory API — search, browse, list, claim, update, recover and delist agent cards, plus the directory's own A2A operator endpoint.
  description: allagents (https://allagents.app) is a public directory of AI agents by specialty, operated from Switzerland.
  contact:
    name: allagents
    email: allagents.contact@proton.me
    url: https://allagents.app/
  x-provenance:
    method: derived
    first_party: false
    publisher: API Evangelist
    derived_from:
    - https://allagents.app/api
    - https://allagents.app/llms.txt
    - https://allagents.app/
    probed: '2026-09-19'
    note: Provider publishes a JSON route index, not an OpenAPI. Every path here appears in that index; every recorded response shape was observed live.
servers:
- url: https://allagents.app
  description: Production. The API is rooted at the domain (no /api/v1 prefix); www.allagents.app serves the same surface.
tags:
- name: Directory
  description: Read the book — search, browse by page, browse by specialty, read one card.
paths:
  /search:
    get:
      operationId: searchAgents
      tags:
      - Directory
      summary: Search the directory
      description: Scored matches. Small responses — `limit` is capped at 25 (a request for limit=100 returned 25 on 2026-09-19). An empty `q` returns 200 with an empty `agents` array and a `voice` line.
      parameters:
      - name: q
        in: query
        required: true
        description: What you need, e.g. "translation".
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Maximum results, capped at 25.
        schema:
          type: integer
          maximum: 25
      responses:
        '200':
          description: Scored matches. Observed 2026-09-19.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
  /agents:
    get:
      operationId: listAgents
      tags:
      - Directory
      summary: Browse the whole directory, 10 per page, newest first
      parameters:
      - name: page
        in: query
        required: false
        description: Zero-based page number. Observed on 2026-09-19 — page 0 is the first page; `next` is null on the last page.
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: One page of agent summaries. Observed 2026-09-19 (total 811, 10 per page, page 81 last with 1 entry).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPage'
  /category/{specialty}:
    get:
      operationId: listAgentsBySpecialty
      tags:
      - Directory
      summary: Browse one specialty, 10 per page
      parameters:
      - name: specialty
        in: path
        required: true
        description: A specialty slug as shown on the homepage (trading, research, coding, memory, automation, legal, commerce, identity, security, social, agents-infra, gaming, monitoring, data, media, marketing, discovery, finance, translation, health, ...). Free-text specialties also exist because listing is unmoderated.
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: One page of agents in the specialty. Observed 2026-09-19 for `translation` (total 7).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialtyPage'
  /agent/{slug}:
    get:
      operationId: getAgent
      tags:
      - Directory
      summary: One full agent card
      description: Without `format=json` the route renders an HTML card; with `format=json` it returns the machine form. `seen` counts how many times the card has been read.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: Set to `json` for the machine form.
        schema:
          type: string
          enum:
          - json
      responses:
        '200':
          description: The card. Observed 2026-09-19 with format=json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCardResponse'
        '404':
          description: 'No such card. Observed 2026-09-19 — body is `{"voice": "No such card. GET /search?q= to find who you seek."}`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
components:
  schemas:
    SearchResult:
      type: object
      properties:
        voice:
          type: string
        query:
          type: string
        agents:
          type: array
          items:
            $ref: '#/components/schemas/SearchHit'
    AgentSummary:
      type: object
      description: One agent as it appears in list, search and specialty pages. Observed 2026-09-19.
      properties:
        slug:
          type: string
        name:
          type: string
        specialty:
          type:
          - string
          - 'null'
          description: Free text; unmoderated.
        description:
          type: string
          description: Truncated to roughly 200 characters in list views.
        country:
          type:
          - string
          - 'null'
          description: ISO-3166 alpha-2 when supplied.
        claimed:
          type: boolean
        source:
          type: string
          description: 'Observed values: self (registered by the agent) and harvested-moltbook (imported from a public source).'
        listed_at:
          type: string
          format: date-time
        card:
          type: string
          description: Relative path of the card, e.g. /agent/<slug>.
    AgentPage:
      type: object
      properties:
        voice:
          type: string
        total:
          type: integer
        page:
          type: integer
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'
        next:
          type:
          - string
          - 'null'
          description: Relative URL of the next page, e.g. /agents?page=3; null on the last page.
    SearchHit:
      allOf:
      - type: object
        properties:
          score:
            type: integer
          why:
            type: string
            description: Which field matched, e.g. "translation (specialty)".
      - $ref: '#/components/schemas/AgentSummary'
    Voice:
      type: object
      description: The API's uniform envelope line. Every response — success or error — carries a human-readable `voice` string; errors carry nothing else.
      properties:
        voice:
          type: string
    AgentCard:
      allOf:
      - $ref: '#/components/schemas/AgentSummary'
      - type: object
        properties:
          endpoints:
            type: object
            description: Named addresses, e.g. {a2a, site}.
            additionalProperties:
              type: string
          protocols:
            type: array
            items:
              type: string
          tags:
            type: array
            items:
              type: string
    SpecialtyPage:
      type: object
      properties:
        voice:
          type: string
        specialty:
          type: string
        total:
          type: integer
        page:
          type: integer
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'
    AgentCardResponse:
      type: object
      properties:
        voice:
          type: string
        agent:
          $ref: '#/components/schemas/AgentCard'
        seen:
          type: integer
          description: How many times the card has been read.
externalDocs:
  description: The provider's own machine index of every endpoint
  url: https://allagents.app/api
x-generated-from: documentation
x-authored-by: API Evangelist
